@font-face {
    font-family: "dongdong";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/dongdong/dongdong.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/dongdong/dongdong.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/dongdong/dongdong.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/dongdong/dongdong.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/dongdong/dongdong.ttf") format("truetype");
    font-display: swap;
} 
.dongdong {
    font-family: "dongdong";
}